
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn--default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn--default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn--default:active {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn--default:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.hero {
  display: flex;
  text-align: center;
  height: 500px;
  align-items: center;
}

.hero-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.container { 
  max-width: 1200px;  
  margin: 0 auto;  
  padding: 0 20px; 
}